/**variables globales*/
:root{
    /**convierte 1re, en base 10**/
    --over-fontsize:62.5%;
        /** colores bases*/
    --Islamic-Green: #04B90B;
    --Slate-Gray: #777E90;
}

html{
    font-size: 62.5%;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

h1 span {
    color: #04B90B;
}

main{
    flex-grow: 1;
}
/**header*/
.header {
    border: 1px dotted rgb(255, 55, 0);
}

.container {
    border: 1px dotted rgb(65, 16, 179);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 96vw;
    padding: 0 8px;
}

.container-fluid{
    border: 1px solid orangered;
    margin: 0auto;
    max-width: 10ovw;
    padding: 0;
    box-sizing: border-box;
}

.menu-main{
    display: none;
}

 nav.nav-navbar {
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: space-between;
}

.menu_link{
    color: #777E90;
    text-decoration: none;
}

.btn {
    padding: .5rem ;
    border-radius: .2rem;
}

.btn--light-green {
    background-color: #04B90B;
    color: white;
    text-transform: uppercase;
}
    

@media (min-width: 568px) {
    .container {
        max-width: 540px;
        padding: 0 16px;
    }
.menu-main{
    display: flex;
    gap: .5rem;
    list-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
 }
.hamburger-menu{
    display: none;
 }
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
        padding: 0 24px;
    }
}

@media (min-width: 1024px){
    .container{
        max-width: 992px;
        padding: 0 32px;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1140px;
        padding: 0 40px;
    }
}

@media (min-width: 1400px){
    .container{
        max-width: 1320px;
        padding: 0 48px;
    }
}

@media (min-width: 1600px){
    .container{
        max-width: 1440px;
        padding: 0 56px;
    }
}

@media (min-width: 1920px){
    .container{
        max-width: 1600px;
        padding: 0 64px;
    }
}


/**footer*/
/**main*/