/**variables globales*/
:root{
    /**convierte 1re, en base 10**/
    --over-fontsize:62.5%;
        /** colores bases*/
    --Islamic-Green: #04B90B;
    --Slate-Gray: #777E90; /** Color de los btn en el Header & h2 Pag.1 */
    --Cultured: #F4F5F6; /** Color del recuadro "years of service" Pag.1 */
    --Charleston-Green: #23262F; /** Color de letra h1 Pag.1*/
    --Chinese-White: #DDF3D8; /** Color del circulo de fondo en la imagen Pag.1 */
    --Lotion: #FCFCFD; /** Color blanco del fondo de la pagina web Pag.1*/
    --White: #FFFFFF; /** Color de fondo en las imagenes de comida Pag.2 & la descripción de la Pag.3 */
}

html{
    font-size: 62.5%;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-size: 0,8rem;
}

h1 span {
    color: #04B90B;
}

main{
    flex-grow: 1;
}
/**header*/
.header {
    border: 1px dotted rgb(255, 55, 0);
}

.container {
    border: 1px dotted rgb(65, 16, 179);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 96vw;
    padding: 0.8rem;
}

.container-fluid{
    border: 1px solid orangered;
    margin: 0auto;
    max-width: 10ovw;
    padding: 0;
    box-sizing: border-box;
}

.menu-main{
    display: none;
}

 nav.nav-navbar {
    align-items: center;
    display: flex;
    height: 4.4rem;
    justify-content: space-between;
}

.menu_link{
    color: #777E90;
    text-decoration: none;
}

.btn {
    padding: .5rem ;
    border-radius: 0.2rem;
}

.btn--light-green {
    background-color: #04B90B;
    color: white;
    text-transform: uppercase;
}
    

@media (min-width: 568px) {
    .container {
        max-width: 54rem;
        padding: 16rem;
    }
.menu-main{
    display: flex;
    gap: .5rem;
    list-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
 }
.hamburger-menu{
    display: none;
 }
}

@media (min-width: 768px){
    .container{
        max-width: 72rem;
        padding: 24rem;
    }
}

@media (min-width: 1024px){
    .container{
        max-width: 99.2rem;
        padding: 0 3.2rem;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1140rem;
        padding: 40rem;
    }
}

@media (min-width: 1400px){
    .container{
        max-width: 1320px;
        padding: 0 4.8rem;
    }
}

@media (min-width: 1600px){
    .container{
        max-width: 144rem;
        padding: 0 5.6rem;
    }
}

@media (min-width: 1920px){
    .container{
        max-width: 160rem;
        padding: 0 6.4rem;
    }
}


/**footer*/
/**main*/